body
{
  background: black;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

       background-image: url("finance-background.png");
}

#main-currency-converter-holder
{
  opacity: 0.85;
}